<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Index</title>
</head>
<body>
    <div>
        <form action="/Csrf/PushNotice" method="post">
            <input type="text" id="notice" name="notice" />
            <input type="submit" value="发送公告" />
        </form>
    </div>

    <!-- Visual Studio Browser Link -->
    <script type="application/json" id="__browserLink_initializationData">
        {"appName":"Microsoft Edge","requestId":"3761ce2d17b046b0b28e827d0aa00869"}
    </script>
    <script type="text/javascript" src="http://localhost:2111/a55210ad085e403dbee457abca4188e5/browserLink" async="async"></script>
    <!-- End Browser Link -->

</body>
</html>
